html,
body {
  width: 100%;
  height: 100%;
}
body {
  background-color: #ffffff;
  margin: 0;
  overflow: hidden;
  font-family: arial;
  background-image: url(../img/background.jpeg);
  background-position: center;
  background-size: cover;
}

h1 {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 48px;
}

button {
  margin: 20px auto 30px auto !important;
  font-weight: 700;
}

.text-center {
  margin-top: 120px;
}

.text {
  text-align: left;
  padding-top: 10px;
  margin: auto 20%;
  font-weight: 800;
  padding-bottom: 10px;
}

.content {
  text-align: left;
  font-size: 16px;
  padding-top: 5px;
  font-weight: 600;
}
